.App {
    margin-top: 15px;
    margin-left: 15px;
}
.App input:checked {
    background-color: mediumslateblue;
}
.App select {
    padding: 10px;
    border: 2px solid midnightblue;
    margin: 10px;
    background-color: darkslateblue;
    border-radius: 5px;
    color: white;
    font-size: medium;
    font-weight: bold;
}
.App select > option {
    background-color: darkslateblue;
    border-radius: 5px;
}
.App select:hover {
    background-color: lightsteelblue;
}
.App select > option:hover {
    background-color: lightsteelblue;
}
.errorPage {
    text-align: center;
    margin-top: 150px;
    font-family: "Comic Sans MS", sans-serif;
    color: red;
    font-size: xx-large;
}
.peopleForHW8 {
    display: grid;
    grid-template-columns: 120px 100px;
}
.buttonsHW8 button {
    padding: 7px;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    background-color: mediumslateblue;
    color:white;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
    border-top: 2px solid lightsteelblue;
    border-left: 2px solid lightsteelblue;
    margin-left: 15px;
    margin-top: 10px;
}
.buttonsHW8 button:active {
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
    border-bottom: 2px solid lightsteelblue;
    border-right: 2px solid lightsteelblue;
}
.HW8container {
    line-height: 1.5em;
    font-size: large;
    background-color: midnightblue;
    color: lightsteelblue;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    min-height: 170px;
    padding: 10px;
    margin-left: 50px;
}
.HW9container {
    line-height: 1.5em;
    font-size: large;
    background-color: midnightblue;
    color: lightsteelblue;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    min-height: 70px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.HW9buttons button {
    margin-left: 65px;
    margin-top: 10px;
}

