.default {
    padding: 7px;
    border-radius: 10px;
    font-family: "Comic Sans MS";
    background-color: mediumslateblue;
    color:white;
    border-bottom: 2px solid darkslateblue;
    border-right: 2px solid darkslateblue;
    border-top: 2px solid lightsteelblue;
    border-left: 2px solid lightsteelblue;
}
.default:active {
    padding: 7px;
    border-radius: 10px;
    font-family: "Comic Sans MS";
    background-color: mediumslateblue;
    color:white;
    border-top: 2px solid darkslateblue;
    border-left: 2px solid darkslateblue;
    border-bottom: 2px solid lightsteelblue;
    border-right: 2px solid lightsteelblue;
}
.default:disabled {
    background-color: lightgrey;
    color: slategray;
}
.red {
    background: red;
}